{% set shinken = salt['grains.filter_by']({
    'RedHat': {
        'pip': 'pip2.6',
    },
}, merge=salt['pillar.get']('shinken:lookup')) %}

{# The pack name and module name differ for these packs #}
{# {'pack-name': 'module-name'} #}
{% set packs = {
    'retention-memcache': 'MemcacheRetention'
} %}
